In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [18]:
dirname = os.path.join(os.getcwd(), 'dataset')
datasets = {}
for file in os.listdir(dirname):
    car_type = file.split('.')[0]
    file_data = pd.DataFrame(pd.read_csv(os.path.join(dirname, file)))
    df = pd.concat([pd.DataFrame([{"type": car_type} for i in range(len(file_data))]), file_data], axis=1)
    print(file.split('.')[0])
    display(df)
    datasets[car_type] = df

audi

,type,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,audi,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4
1,audi,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0
2,audi,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4
3,audi,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0
4,audi,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...,...
10663,audi,A3,2020,16999,Manual,4018,Petrol,145,49.6,1.0
10664,audi,A3,2020,16999,Manual,1978,Petrol,150,49.6,1.0
10665,audi,A3,2020,17199,Manual,609,Petrol,150,49.6,1.0
10666,audi,Q3,2017,19499,Automatic,8646,Petrol,150,47.9,1.4
10667,audi,Q3,2016,15999,Manual,11855,Petrol,150,47.9,1.4

bmw

,type,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,bmw,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,bmw,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,bmw,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,bmw,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,bmw,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0
...,...,...,...,...,...,...,...,...,...,...
10776,bmw,X3,2016,19000,Automatic,40818,Diesel,150,54.3,2.0
10777,bmw,5 Series,2016,14600,Automatic,42947,Diesel,125,60.1,2.0
10778,bmw,3 Series,2017,13100,Manual,25468,Petrol,200,42.8,2.0
10779,bmw,1 Series,2014,9930,Automatic,45000,Diesel,30,64.2,2.0
10780,bmw,X1,2017,15981,Automatic,59432,Diesel,125,57.6,2.0

cclass

        type     model  year  price transmission  mileage fuelType  engineSize
0     cclass   C Class  2020  30495    Automatic     1200   Diesel         2.0
1     cclass   C Class  2020  29989    Automatic     1000   Petrol         1.5
2     cclass   C Class  2020  37899    Automatic      500   Diesel         2.0
3     cclass   C Class  2019  30399    Automatic     5000   Diesel         2.0
4     cclass   C Class  2019  29899    Automatic     4500   Diesel         2.0
...      ...       ...   ...    ...          ...      ...      ...         ...
3894  cclass   C Class  2017  14700       Manual    31357   Diesel         1.6
3895  cclass   C Class  2018  18500    Automatic    28248   Diesel         2.1
3896  cclass   C Class  2014  11900       Manual    48055   Diesel         2.1
3897  cclass   C Class  2014  11300    Automatic    49865   Diesel         2.1
3898  cclass   C Class  2014  14800    Automatic    55445   Diesel         2.1

[3899 rows x 8 columns]

focus

       type   model  year  price transmission  mileage fuelType  engineSize
0     focus   Focus  2016   8000       Manual    38852   Petrol         1.0
1     focus   Focus  2019  13400       Manual    11952   Petrol         1.0
2     focus   Focus  2019  14600       Manual    22142   Petrol         1.5
3     focus   Focus  2016   9450       Manual    14549   Diesel         1.6
4     focus   Focus  2015   9999       Manual     7010   Diesel         1.6
...     ...     ...   ...    ...          ...      ...      ...         ...
5449  focus   Focus  2019  18745       Manual     7855   Diesel         2.0
5450  focus   Focus  2019  16350       Manual    13891   Petrol         1.0
5451  focus   Focus  2019  16850       Manual    13452   Petrol         1.0
5452  focus   Focus  2019  17310    Automatic    13376   Petrol         1.0
5453  focus   Focus  2019  17610    Automatic     7886   Petrol         1.0

[5454 rows x 8 columns]

ford

,type,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,ford,Fiesta,2017,12000,Automatic,15944,Petrol,150,57.7,1.0
1,ford,Focus,2018,14000,Manual,9083,Petrol,150,57.7,1.0
2,ford,Focus,2017,13000,Manual,12456,Petrol,150,57.7,1.0
3,ford,Fiesta,2019,17500,Manual,10460,Petrol,145,40.3,1.5
4,ford,Fiesta,2019,16500,Automatic,1482,Petrol,145,48.7,1.0
...,...,...,...,...,...,...,...,...,...,...
17960,ford,Fiesta,2016,7999,Manual,31348,Petrol,125,54.3,1.2
17961,ford,B-MAX,2017,8999,Manual,16700,Petrol,150,47.1,1.4
17962,ford,B-MAX,2014,7499,Manual,40700,Petrol,30,57.7,1.0
17963,ford,Focus,2015,9999,Manual,7010,Diesel,20,67.3,1.6
17964,ford,KA,2018,8299,Manual,5007,Petrol,145,57.7,1.2

hyundi

,type,model,year,price,transmission,mileage,fuelType,tax(Â£),mpg,engineSize
0,hyundi,I20,2017,7999,Manual,17307,Petrol,145,58.9,1.2
1,hyundi,Tucson,2016,14499,Automatic,25233,Diesel,235,43.5,2.0
2,hyundi,Tucson,2016,11399,Manual,37877,Diesel,30,61.7,1.7
3,hyundi,I10,2016,6499,Manual,23789,Petrol,20,60.1,1.0
4,hyundi,IX35,2015,10199,Manual,33177,Diesel,160,51.4,2.0
...,...,...,...,...,...,...,...,...,...,...
4855,hyundi,I30,2016,8680,Manual,25906,Diesel,0,78.4,1.6
4856,hyundi,I40,2015,7830,Manual,59508,Diesel,30,65.7,1.7
4857,hyundi,I10,2017,6830,Manual,13810,Petrol,20,60.1,1.0
4858,hyundi,Tucson,2018,13994,Manual,23313,Petrol,145,44.8,1.6
4859,hyundi,Tucson,2016,15999,Automatic,11472,Diesel,125,57.6,1.7

merc

,type,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,merc,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,merc,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,merc,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,merc,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,merc,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...,...
13114,merc,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,merc,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,merc,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,merc,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,merc,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

skoda

,type,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,skoda,Octavia,2017,10550,Manual,25250,Petrol,150,54.3,1.4
1,skoda,Citigo,2018,8200,Manual,1264,Petrol,145,67.3,1.0
2,skoda,Octavia,2019,15650,Automatic,6825,Diesel,145,67.3,2.0
3,skoda,Yeti Outdoor,2015,14000,Automatic,28431,Diesel,165,51.4,2.0
4,skoda,Superb,2019,18350,Manual,10912,Petrol,150,40.9,1.5
...,...,...,...,...,...,...,...,...,...,...
6262,skoda,Yeti,2014,11440,Semi-Auto,14569,Petrol,160,44.8,1.2
6263,skoda,Octavia,2014,10990,Semi-Auto,49999,Petrol,30,56.5,1.4
6264,skoda,Fabia,2017,9500,Semi-Auto,17131,Petrol,145,61.4,1.0
6265,skoda,Citigo,2016,5999,Manual,21747,Petrol,20,62.8,1.0
6266,skoda,Fabia,2017,9232,Semi-Auto,42530,Petrol,20,60.1,1.2

toyota

,type,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,toyota,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0
1,toyota,GT86,2017,15995,Manual,18615,Petrol,145,36.2,2.0
2,toyota,GT86,2015,13998,Manual,27469,Petrol,265,36.2,2.0
3,toyota,GT86,2017,18998,Manual,14736,Petrol,150,36.2,2.0
4,toyota,GT86,2017,17498,Manual,36284,Petrol,145,36.2,2.0
...,...,...,...,...,...,...,...,...,...,...
6733,toyota,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0
6734,toyota,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3
6735,toyota,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4
6736,toyota,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3
6737,toyota,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3

vauxhall

,type,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,vauxhall,Corsa,2018,7885,Manual,9876,Petrol,145,55.4,1.4
1,vauxhall,Corsa,2019,11995,Manual,2500,Petrol,145,54.3,1.4
2,vauxhall,Corsa,2017,9777,Automatic,9625,Petrol,145,47.9,1.4
3,vauxhall,Corsa,2016,8500,Manual,25796,Petrol,30,55.4,1.4
4,vauxhall,Corsa,2019,10000,Manual,3887,Petrol,145,43.5,1.4
...,...,...,...,...,...,...,...,...,...,...
13627,vauxhall,Tigra,2007,2499,Manual,48640,Petrol,165,46.3,1.4
13628,vauxhall,Vectra,2007,1795,Manual,75000,Petrol,240,39.2,1.8
13629,vauxhall,Vectra,2005,1495,Manual,74000,Petrol,235,38.7,1.8
13630,vauxhall,Vectra,2008,1695,Automatic,131000,Diesel,200,39.8,1.9
13631,vauxhall,Vectra,2005,1450,Manual,147000,Petrol,330,27.9,3.2

vw

,type,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,vw,T-Roc,2019,25000,Automatic,13904,Diesel,145,49.6,2.0
1,vw,T-Roc,2019,26883,Automatic,4562,Diesel,145,49.6,2.0
2,vw,T-Roc,2019,20000,Manual,7414,Diesel,145,50.4,2.0
3,vw,T-Roc,2019,33492,Automatic,4825,Petrol,145,32.5,2.0
4,vw,T-Roc,2019,22900,Semi-Auto,6500,Petrol,150,39.8,1.5
...,...,...,...,...,...,...,...,...,...,...
15152,vw,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0
15153,vw,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2
15154,vw,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4
15155,vw,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2
15156,vw,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2

In [27]:
datasets['cclass']['type'] = 'merc'
datasets['focus']['type'] = 'ford'
display(datasets['focus'])

      type   model  year  price transmission  mileage fuelType  engineSize
0     ford   Focus  2016   8000       Manual    38852   Petrol         1.0
1     ford   Focus  2019  13400       Manual    11952   Petrol         1.0
2     ford   Focus  2019  14600       Manual    22142   Petrol         1.5
3     ford   Focus  2016   9450       Manual    14549   Diesel         1.6
4     ford   Focus  2015   9999       Manual     7010   Diesel         1.6
...    ...     ...   ...    ...          ...      ...      ...         ...
5449  ford   Focus  2019  18745       Manual     7855   Diesel         2.0
5450  ford   Focus  2019  16350       Manual    13891   Petrol         1.0
5451  ford   Focus  2019  16850       Manual    13452   Petrol         1.0
5452  ford   Focus  2019  17310    Automatic    13376   Petrol         1.0
5453  ford   Focus  2019  17610    Automatic     7886   Petrol         1.0

[5454 rows x 8 columns]

In [31]:
datasets['hyundi'].rename(columns={'tax(Â£)': 'tax'}, inplace=True)
display(datasets['hyundi'])

,type,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,hyundi,I20,2017,7999,Manual,17307,Petrol,145,58.9,1.2
1,hyundi,Tucson,2016,14499,Automatic,25233,Diesel,235,43.5,2.0
2,hyundi,Tucson,2016,11399,Manual,37877,Diesel,30,61.7,1.7
3,hyundi,I10,2016,6499,Manual,23789,Petrol,20,60.1,1.0
4,hyundi,IX35,2015,10199,Manual,33177,Diesel,160,51.4,2.0
...,...,...,...,...,...,...,...,...,...,...
4855,hyundi,I30,2016,8680,Manual,25906,Diesel,0,78.4,1.6
4856,hyundi,I40,2015,7830,Manual,59508,Diesel,30,65.7,1.7
4857,hyundi,I10,2017,6830,Manual,13810,Petrol,20,60.1,1.0
4858,hyundi,Tucson,2018,13994,Manual,23313,Petrol,145,44.8,1.6
4859,hyundi,Tucson,2016,15999,Automatic,11472,Diesel,125,57.6,1.7